* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f2f2f2;
}

.container {
  width: 80%;
  margin: auto;
}

/* HEADER */
.header {
  background: white;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #666;
  font-size: 15px;
}

.invite-btn {
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  background: #33D27B;
  color: white;
  cursor: pointer;
}

/* HERO SECTION */
.hero {
  padding: 80px 0;
  background-image: url('bg-desktop.svg'); /* ← الخلفية ديالك */
  background-repeat: no-repeat;
  background-position: right;
  background-size: 55%;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left {
  width: 40%;
}

.left h1 {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 25px;
}

.left p {
  color: #555;
  line-height: 1.7;
  margin-bottom: 30px;
}

.right {
  width: 50%;
  position: relative;
}

.phones-img {
  width: 100%;
  max-width: 550px;
  display: block;
  position: relative;
  top: 20px;  /* تحكم فتموضع الهواتف */
}